{% from 'macros.html' import nav_link %}
<!DOCTYPE html>


<html>
<head>
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.4/semantic.min.js"></script>
    <script src="{{ url_for('static', filename='base.js') }}"></script>
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.4/semantic.min.css">
    <link href="{{ url_for('static', filename='base.css') }}" rel="stylesheet" type="text/css">
    <title>{% block title %}{% endblock %} - Columbia Flood Relief</title>
    {% block head %}
    {% endblock %}
</head>
<nav class="ui menu">
    {{ nav_link("main.index", "<b>Columbia Flood Relief</b>") }}
    {{ nav_link("main.map", "Map") }}
    {{ nav_link("main.add", "Add Location") }}
    <div class="right menu">
        {{ nav_link("main.feedback", "Submit Feedback") }}
    </div>
</nav>
<body>
{% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
            <div class="ui message">
                <p>{{ message }}</p>
            </div>
        {% endfor %}
      {% endif %}
    {% endwith %}
{% block content %}
{% endblock %}
</body>
<footer>
    <p>All information provided here is without any implied warranty of fitness for any purpose or use whatsoever. All information is provided in good faith by a local volunteer. {% block footer %}{% endblock %}</p>
</footer>
</html>