{% extends 'base.html' %}

{% block title %}Donate{% endblock %}

{% block content %}
<div class="ui segment">
    <h1 class="ui header">Donations</h1>

    <p>If you wish to donate your time or money, please start by calling the state's donation team at
        1-(888)-585-9643</p>

    <h3 class="ui header">Donate Money</h3>

    <p>The SC Emergency Management Division says the best way to aid disaster relief is to make a monetary contribution
        to one of these organizations</p>
    <ul class="ui list">
        <li>Red Cross of Central South Carolina - (800) 435-7669</li>
        <li>Harvest Hope Food Bank - (803) 254-4432</li>
        <li>Lutheran Disaster Response: (800) 638-3522</li>
        <li>Presbyterian Disaster Assistance - (800) 872-3283</li>
        <li>Southern Baptist Convention/Disaster Relief - (800) 462-8657, <a href="http://www.scbaptist.org">www.scbaptist.org</a>
        </li>
        <li>United Methodist Committee on Relief - (800) 554-8583</li>
        <li>United Way of America - (800) 272-4630</li>
        <li>United Way of South Carolina - (803) 929-1000</li>
        <li>More at: <a href="http://www.scemd.org/recovery-section/donations-and-volunteers">www.scmed.org</a></li>
    </ul>
    <h3 class="ui header">Donate Water</h3>
    <p>The SC Emergency Management Commission says the state no longer needs donation of water.</p>
    <h3 class="ui header">Donate Supplies</h3>
    <ul class="ui list">
        <li>Tripp's Fine Cleaners is accepting donations of clothing and bedding for flood victims, they ask it be sorted by size and gender.</li>
        <li>The Newberry Sherrif's Office is accepting donations of food, cleaning supplies, and paper goods.</li>
        <li>The Columbia Fireflies are accepting donations of canned food, baby items, and personal care items at the Team Store. (807 Gervais Street (Suite 100)) These supplies will go to <a href="https://www.uway.org">United Way of the Midlands.</a></li>
    </ul>
    <p>Information from <a href="http://www.thestate.com/news/local/article38119578.html">The State Newspaper</a></p>
</div>
{% endblock %}