{% extends 'base.html' %}

{% block title %}Map{% endblock %}

{% block head %}
{{ map.js }}
{% endblock %}

{% block content %}
<section>
    <div id="map-wrapper">
        {{ map.html }}
    </div>
    <div id="sidebar">
        <div id="button-wrapper">
            <a href="{{ url_for('main.add') }}"><button class="ui {{ config['COLOR'] }} button" id="add-button"><i class="add icon"></i>Add to Map</button></a>
        </div>
        <div class="ui {{ config['COLOR'] }} segment" id="filters">
            <h3 class="ui header">Filter Map</h3>

            <form class="ui form" method="POST" action="{{ url_for('main.map') }}">
                {% for field in form %}
                {% if field.type in ['CSRFTokenField', 'HiddenField'] %}
                {{ field() }}
                {% else %}
                <div class="inline field">
                    <div class='ui checkbox'>
                        {{ field }}
                        {{ field.label }}
                    </div>
                </div>

                {% endif %}
                {% endfor %}
                <button class="ui button">Go</button>
            </form>
        </div>
        <div class="ui {{ config['COLOR'] }} segment" id="legend">
            <div class="ui relaxed divided list">
                <div class="item">
                    <i class="large theme middle aligned icon"></i>

                    <div class="content">
                        <div class="header">Water</div>

                        <div class="description">Bottled Water, Potable Water Trucks</div>
                    </div>
                </div>
                <div class="item">
                    <i class="large food middle aligned icon"></i>

                    <div class="content">
                        <div class="header">Prepared Food</div>

                        <div class="description">Cooked, Ready-to-eat Food</div>
                    </div>
                </div>
                <div class="item">
                    <i class="large cube middle aligned icon"></i>

                    <div class="content">
                        <div class="header">Supplies</div>

                        <div class="description">Unprepared food, Clothing, Toiletries, Baby Supplies, Home Goods, Mattresses</div>
                    </div>
                </div>
                <div class="item">
                    <i class="large home middle aligned icon"></i>

                    <div class="content">
                        <div class="header">Shelter</div>

                        <div class="description">Red Cross Shelters</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}