{% extends 'base.html' %}

{% block title %}Water{% endblock %}

{% block content %}
<div class="ui segment">
    <h1 class="ui headers">Boil Water Advisories</h1>
    <p>Everyone currently using Columbia City Water is under a "Boil Water Advisory." Boil Water Advisories are issued
        by a water treatment facility when a major water line has been broken, or there has been a significant loss of
        pressure. The recent flooding has caused both of these to occur. When roads are washed out, they generally break
        the water lines running beneath them. The Columbia Canal dam breach has caused a very significant loss of
        pressure to our water system, which is the main contributing factor.<sup><a href="https://www.columbiasc.net/drinking-water/advisories">[Source]</a></sup></p>
    <h3 class="ui header">What NOT to do</h3>
    <ul class="ui list">
        <li>Do not drink or cook with water unless it has been boiled or otherwise treated.</li>
        <li>Do not use ice makers, water fountains or any other appliances directly attached to tap water.</li>
        <li>Do not use dishwashers if they do not heat water to more than 150&degF or have a sanitizing cycle.</li>
        <li>Do not run irrigation systems (sprinklers, garden hoses, etc.) in order to conserve water.</li>
        <li>Do not brush your teeth without treatment.</li>
        <li>Do not prepare baby formula without boiling the water first. Use ready-to-use formula if possible.</li>
        <li>Do not give pets untreated water, they can contract the same diseases as humans.</li>
    </ul>
    <h3 class="ui header">What TO do</h3>
    <ul class="ui list">
        <li>Do bring water to a rolling boil for a minimum of one minute before drinking or cooking.</li>
        <li>Boil water even if it is filtered.</li>
        <li>Do shower or bathe in the water,  just keep it out of your mouth.</li>
        <li>Do sponge-bathe babies and small children to reduce the risk of them swallowing water.</li>
        <li>Do shave with the water,  try not to get it in any open wounds or sores.</li>
        <li>Do laundry as usual.</li>
    </ul>

    <a href="https://www.columbiasc.net/depts/utilities-engineering/docs/dw/cdc-awwa-what-to-do-during-a-boil-water-advisory.pdf">Information from the City of Columbia</a>
</div>
{% endblock %}